/*FONT FAMILIES*/
$fontFamilyHeaders:'Montserrat', sans-serif;
$fontFamilyText: 'Open Sans Condensed', sans-serif;

/*DEFAULT COLORS*/
$primaryColor: #3D3B3C;/*#2A4890;*/
$primaryColorRGBA: rgba(15,34,139,0.5);
$contrastColor:#1B1C1F;
$navColor: #F8E8CE;
$navBackColor: rgba(0,0,0,0.2);

$services2Color: #2A4890;
$services1Color: #2A4890;
$colorOverPictures: rgba(42,72,144,0.4);
$contactColor: #2A4890;
$socialbuttonOutline: #0a175b;/*Should be slightly darker than primary color*/
$headerColor: transparent;
$footerBackColor: #2A4890;
$footerColor: #000;
$dropDownBackColor: #fff;

/*Font Colors*/
$primaryFontColor: #F8E8CE;


/*HAMBURGER COLORS*/
$drawerOpenColor: #fff;
$drawerClosedColor: #fff;
$drawerButtonBackgroundColor: $primaryColor;
$drawerOutline: none;/*5px solid $primaryColor;*/

/* TRIANGLE and SLANT Height */
$triangleHeight: 50px;

/* SECTION TOP OFFSET */
$sectionTopOffset: 4em;


/*--------------------------*/
/* Typography Defaults */
/*--------------------------*/
h1,h2,h3,h4 {	
	font-family: $fontFamilyHeaders; 
	/*font-style: italic;*/
	padding: 10px;
	margin:0;
}
p, label, input, button {font-family: $fontFamilyText; }
a{ cursor: pointer; }
code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 1em;
	font-weight: bold;
	color: #000;
	background: gray;
	
	strong{
		color: red;
		font-weight: bolder;
	}
}




/*--------------------------*/
/* #Structure#				*/
/*--------------------------*/
html, body{
	padding:0;
	margin:0;
}
body {
	background: rgb(119,125,135);
background: -moz-linear-gradient(top,  rgba(119,125,135,1) 5%, rgba(248,232,206,1) 84%);
background: -webkit-linear-gradient(top,  rgba(119,125,135,1) 5%,rgba(248,232,206,1) 84%);
background: linear-gradient(to bottom,  rgba(119,125,135,1) 5%,rgba(248,232,206,1) 84%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777d87', endColorstr='#f8e8ce',GradientType=0 );

}
header {
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: $headerColor;

	nav {
		padding-right: 4em;

		.nav-title{
			font-size: 30px;
			text-align: center;
		}
		.nav-links{
			text-align: right;
		}
	}
	.header-fixed{
		position: fixed;
		left:0;
		top:0;
		z-index: 200;
	}
}

footer{
	background-color: $footerBackColor;
}



/*-----------------------
		HERO SLIDER
-------------------------*/
/* Welcome */
.cd-hero-slider li:first-of-type {
  background-color: $primaryColor;
}
cd-hero-slider .cd-btn{
	background-color: rgba(96,139,15, 0.9);
}
/* Community */
.cd-hero-slider li:nth-of-type(2) {
  background-image: url("../assets/slideshow/fortcollins.jpg");
}
/* Partners */
.cd-hero-slider li:nth-of-type(3) {
  background-color: #3d4952;
  background-image: url("../assets/slideshow/shakehands.png");
}
.cd-hero-slider li:nth-of-type(3) p, .cd-hero-slider li:nth-of-type(3) h2  {
}


/*-----------------------
		#SECTIONS#
-------------------------*/

/* ---------------EVENTS----------------*/
#page-header{
	position: relative;
	padding: 100px 0 0 0;
	margin: 0;
	
	.left{
		position: absolute;
		left: 20%;
		top:2.5em;
	}
	.right{
		position: absolute;
		right: 10%;
		top:2.5em;
	}
	h4{
		padding: 0;
		margin: 0 2em 0 2em;
	}

}
#top{
	min-height: 650px;
	width: 100%;
	box-shadow: 7px 0 9px -4px rgba(0, 0, 0, 0.1), -7px 0 7px -4px rgba(0, 0, 0, 0.1);
	.overlay{
		min-height: 100%;
		width: 100%;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
	}
	.nfc-logo{ /*New Force Energy Logo*/
		position: absolute;
		width: 400px;
		height: 300px;
		top: 7em;
		left: 20%;
		padding: 0;
		background-image: url("../assets/images/nf-logo.png");
		background-repeat: none;
		background-size: cover;
	}
	h2{
		position: absolute;
		right: 20%;
		top: 200px;
		font-size: 3em;
		color: #fff;
		text-shadow: 1px 1px 7px rgba(0,0,0,0.7);
	}
	.nav-container{
		position: absolute;
		top:0;
		left:0;
		background-color: $navBackColor;
		width:100%;
		height: 30px;
		padding-left: 10%;
	}
}


#services1, #services2{
	min-height: 450px;
	height: 100%;
	width: 100%;
	background: $services1Color;
	color: $primaryFontColor;
	.overlay{
		min-height: 100%;
		width: 100%;
		min-width: 100%;
		margin:0;
		position: relative; /*set this to relative for triangles*/	
	}
	.text-box{
		padding: 15%;
		h3{
			padding: 2em 0 2em 0;
		}
		h3:before, h3:after {
			padding: 10px;
			font-style: normal;
			content: "|";
		}
	}
	.pic-one{
	  background: linear-gradient( $colorOverPictures, $colorOverPictures ),
	    url("../assets/images/rig/standing-tall.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
		box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.4);
		position: absolute;
		width: 500px;
		height: 600px;
		top: -70px;
		left:0;	
		z-index: 1;
	}
	.pic-two{
		background: linear-gradient( $colorOverPictures, $colorOverPictures ),
	    url("../assets/images/rig/coil-on-top.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
		position: absolute;
		width: 500px;
		height: 600px;
		top: -70px;
		right: 0;	
		z-index: 2;
		box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.4);
		transition: 0.5s;
	}
}

#services2{
	background-color: $services2Color;
	color: $primaryFontColor;
}

#rig-quick-pic{
	min-height: 275px;
	height: 100%;
	width: 100%;
	background: #fff;
	.overlay{
		position: relative;
		min-height: 100%;
		width: 100%;
		min-width: 100%;
		margin:0;
		padding: 20px;
	}
	img{
		width: 100%;
		height: 225px;
		box-shadow: 1px -1px 4px rgba(0,0,0,0.1);
		transition: 0.25s;
	}
	h4{
		width: 80%;
		color: #000;
		background-color: $colorOverPictures;
		position: absolute;
		top: 20px;
		left:20px;
	}
	img:hover{
		box-shadow: 1px 1px 14px #000;	
	}
}

#hero-parallax1, #hero-parallax2 {
	min-height: 350px;
	height: 350px;
	width: 100%;
	box-shadow: 7px 0 9px -4px rgba(0, 0, 0, 0.1), -7px 0 7px -4px rgba(0, 0, 0, 0.1);
	.overlay{
		height: inherit;
		width: 100%;
		margin:0;
		position: relative;
		background-color: rgba(119, 125, 135, 0.7);
	}
}
section.module.parallax-1 {
	background-image: url("../assets/images/rig/main-wide.jpg");
}
section.module.parallax-2 {
	background-image: url("../assets/images/rig/standing-tall.jpg");
}
section.module.parallax-3 {
	background-image: url("../assets/images/rig/coil-on-top.jpg");
}



/* RIG POPUP */
#rigs-popup, #services-popup{
	display: none;
	position: relative;
	bottom:-10px;
	left: 19%;
	width: 150px;
	padding:0;
	margin:0;
	z-index: 100;
	background-color: $dropDownBackColor;
	border-radius: 7px;
	a{
			padding: 0;
			margin: 0;
			width: 100%;
			border: 5px solid #fff;
			h4{
				color: #000;
				font-size: 1.7em;
				text-align: center;
				line-height: 50px;
				text-decoration: none;
			}
	}
	a:hover{
		background: #ccc;
		text-decoration: none;
	}
	.arrow-up {
		position: absolute;
		top:-15px;
		left: 40%;
		width: 0; 
		height: 0; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid $dropDownBackColor;
	}

}
#services-popup{
	left: 35%;
}

#contact {
	height: 400px;
	width: 100%;
	box-shadow: 7px 0 9px -4px rgba(0, 0, 0, 0.1), -7px 0 7px -4px rgba(0, 0, 0, 0.1);
	color: $primaryFontColor;
	.overlay{
		height: inherit;
		width: 100%;
		margin:0;
		position: relative;
		background-color: $contactColor;
	}
	img{
		width: 100%;
		border-radius: 100%;
	}
	h4 {
		text-align: center;
		padding: 40px;
		margin: 0;
	}
}
#about{
	height: 100%;
	width: 100%;
	box-shadow: 7px 0 9px -4px rgba(0, 0, 0, 0.1), -7px 0 7px -4px rgba(0, 0, 0, 0.1);
	margin-bottom: 5em;
	color: $primaryFontColor;
	.overlay{
		height: inherit;
		width: 100%;
		margin:0;
		position: relative;
		background-color: $footerBackColor;
	}
	a {
		color: $primaryFontColor;
		transition: 0.25s;
	}
	a:hover {
		text-shadow: 1px 1px 7px rgba(0,0,0,0.9);
	}
	img{
		width: 100%;
		padding: 2em;
		transition: 0.5s;
	}
	img:hover{
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);

		}

	.text-box{
		padding: 5%;
		text-align: center;
		h3{
			padding: 2em 0 2em 0;
		}
		h3:before, h3:after{
			font-style: normal;
			padding: 10px;
			content: "|"
		}
		a{
			display: inline-block;
		}
		h4.link{
			display: inline-block;
			padding: 0;
			margin: 0;
		}
		h4.link:after, h4.link:before{
			font-style: normal;
			content:"|";
			padding: 10px;
		}
		
	}
}



#rig114, #rig144,#rig144-2,#rig168,#crane{
	display: table;
	height: 830px;
	min-height: 830px;
	width: 100%;
	background-color: #D3D5D9;
	padding: 5em 1em 3em 1em;
	img{
		width: 100%;
		height: 100%;
		margin:0;
		padding:0;
	}
	table{
		display: block;
		margin:0 auto;
		width: 100%;
		padding:0;
		font-size: 18px;
		color: #000;
		thead{
			padding: 20px;
			background-color: #2A4890;
		}
		thead {
			tr{
				width: 100%;
			}
			th{
				padding: 4px 0 4px 10px;
			}
		}
		tbody{
			
			tr{

			}
			td{
				padding: 4px 30px 4px 10px;
			}
		}


	}
}
#crane{
	table{
		padding: 0 0 3em 0;
	}
}

/* RIG 114 PAGE HERO IMAGE */
section.module.parallax-4{
	background-image: url("../assets/images/rig/114-wide.jpg");
}
/* RIG 144-1 PAGE HERO IMAGE */
section.module.parallax-5{
	background-image: url("../assets/images/rig/rig1441-wide.jpg");
}
/* RIG 144-2 PAGE HERO IMAGE */
section.module.parallax-6{
	background-image: url("../assets/images/rig/144-2-wide.jpg");
}
/* RIG 168 PAGE HERO IMAGE */
section.module.parallax-7{
	background-image: url("../assets/images/rig/main-wide.jpg");
}
/* SERVICES FOR CRANE */
section.module.parallax-8{
	background-image: url("../assets/images/crane/crane-2.jpg");
}





/* ------------------------------------------------ */
/*		NAVIGATION NAV#								*/
/* ------------------------------------------------ */
nav {
	width: 100%;
	height: 100%;
	text-align: center;

	.logo{
		width: 64px;
		height: 64px;
	}

	.nav-title{
		display: inline-block;
		width: 50%;
		margin: 0;
		color: #fff;
		font-size: 1.1em;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
		h1{ 
			margin: 0;
			padding: 0;
		}
	}
	.nav-links{
		display: inline-block;
		margin: 0;
		float: right;
	}
	a{
		display: inline-block;
		font-size: 0.8em;
		line-height: 30px;
		vertical-align: middle;
		color: $navColor;
		padding: 0 10em 0 0;
		transition: 0.5s;
		text-align: center;
	}
	a:hover {
		color: #ccc;
		text-shadow: 0.1px 0.1px 1px rgba(255,255,255,0.5);
	}

	a:active, a:selected {
		text-decoration: none;
	}

}



/*------------------------------------------------------*/
/*				#SECTION#								*/
/*------------------------------------------------------*/
/* The full page sections set */
.section{
	height: 100%;
	width: 100%;
	min-width: 100%;
	padding:0;
	margin:0;
	background-color: transparent;
}

/*------------------------------------------------------*/
/* DRAWER MENU */
/*------------------------------------------------------*/
#drawer-button{
	position: fixed;
	left:50%;
	top: 17px;
	width: 30px;
	height: 10px;
	/*padding: 10px 35px 16px 0px;*/
	padding: 25px 50px 31px 15px;
	cursor: pointer;
	z-index: 2000;
	transition: 1s;
	background-color: rgba(0,0,0,0.1);
	outline: $drawerOutline;
	/*border-radius: 50%;*/

}
#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: '';
}
#drawer-button span:before {
  top: -10px; 
}
#drawer-button span:after {
  bottom: -10px;
}
#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  transition: all 500ms ease-in-out;
}
#drawer-button.active span {
  background-color: transparent;
}
#drawer-button.active span:before, #drawer-button.active span:after {
  top: 0;
}
#drawer-button.active span:before {
  transform: rotate(45deg);
  background: #fff;
  z-index: 1000;
}
#drawer-button.active span:after {
  transform: rotate(-45deg);
  background: #fff;
  z-index: 1000;
}
#drawer{
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	min-width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 1090;
}
.drawer-side{
	float: left;
	width: 25%;
	height: 100vh;
	margin:0;
	padding: 5% 0 1% 2.5%;
	background: rgba(255,255,255,0.95);
	overflow-y:auto;
}
.screen-side{
	float: left;
	width: 72.5%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	margin: 0;
	padding: 0;
}
#drawer a {
	font-family: 'Nunito', sans-serif;
	float: left;
	font-size: 1em;
	width: 100%;
	color: #999;
	padding: 0;
	margin: 7px;
	background-size: 150% 100%;
    background-image: linear-gradient(to right, transparent 75%, rgba(0,0,0,0.1) 100%);
	transition: 0.2s;
}
#drawer a:hover{
	color: #000;
	
}

#drawer h4{
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding-top: 20px;
}
#drawer .social-container{
	padding: 0;
	margin: 0;
}
#drawer .social-container a{
	display: inline-block;
	width: auto;
}
.drawer-btn-space{
	padding-top: 30px;
}


/* ------------------------------------------------ */
/*		Social Mobile								*/
/* ------------------------------------------------ */
/*Uses Font-Awesome Icons, make sure to cdn or download*/
.social-mobile-icon{
	width: 70px;
	height: 70px;
	font-size: 50px;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	background-color: $primaryColor;
		
	border: 2px solid $socialbuttonOutline;
	color: #fff;
	margin-left: 1px;
	margin-top: 4px;
	cursor: pointer;
	transition: 0.2s;
}

.social-mobile-icon:hover{
	background-color: $socialbuttonOutline;
	box-shadow: 0.2px 0.2px 2px #000;
}










/* ------------------------------------------------ */
/*		EFFECTS										*/
/* ------------------------------------------------ */
.slide-effect:hover{
	/* Must have:
		background-size: 200% 100%;
    	background-image: linear-gradient(to right, transparent 50%, #761f8e 0%);
    	in order for the element to slide
    */

	background-position: -100% 0;
}


.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } 
}




/* ============================================================
  SECTION PARALLAX
============================================================ */
section.module{
	margin:0;
	padding:0;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  width: 100vw;
  min-width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax:last-child {
	margin-bottom: 0;
}


/* ------------------------------------------------ */
/*		HELPER CLASSES							*/
/* ------------------------------------------------ */
.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/* ------------------------------------------------ */
/*		DECO CLASSES							*/
/* ------------------------------------------------ */
hr{
	background-color: (128,128,128,0.7);
}







/* ------------------------------------------------ */
/*		Media Queries								*/
/* ------------------------------------------------ */
/* iPhone 6 Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  	.nav-container{
  		padding-left: 4%;
	}
	nav a {
		padding: 0 4em 0 0;
	}

	.section{
		width: 100vw;
		min-width: 100%;
		height: 100%;
		padding:10px;
		margin:0;
		background-color: transparent;
	}

	#drawer-button{
		left: 0;
	}

	#drawer {
		.drawer-side{
			width: 100%;
			padding: 60px 0 0 10%;
		}
		.screen-side{
			width: 0;
		}
	}
	
}